{#{% load bootstrap3 %}#}
{#{% bootstrap_css %}#}
{#{% bootstrap_javascript %}#}

{% load humanize %}
{% load staticfiles %}
{% load pipeline %}

{% stylesheet 'css' %}
{% javascript 'js' %}

{#<script src="{% static 'jquery/dist/jquery.js' %}"></script>#}

<div class="container" style="margin-top: 10px;">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active">
                    <button onclick="document.location.href='/store/cart-item'" type="button" class="btn btn-default btn-lg">cartlist <span
                            class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><span id="sizeofcart">  0</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    <br>
    {% csrf_token %}
    <div class="bs-example" data-example-id="thumbnails-with-custom-content">
        <div class="row">
            {% for row in product_list %}

                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img data-src="holder.js/100%x200" alt="100%x200"
                             src="/{{ row.picture }}"
                             data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">

                        <div class="caption">
                            <h3>{{ row.title }},</h3> <h5>Rp. {{ row.price|intcomma }}</h5>

                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                                porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                                elit.</p>

                            <p><input type="text" name="qty-{{ row.id }}" id="qty-{{ row.id }}"></p>
                            <p><span id="notif-{{ row.id }}"></span></p>
                            <p><a data-id="{{ row.id }}" data-title="{{ row.title }}" data-price="{{ row.price }}"
                                  data-img="/{{ row.picture }}" class="btn btn-primary crt" role="button">Add Cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


</div>
</div>

<script>
    $(".crt").click(function () {
        var id = $(this).attr('data-id');
        var title = $(this).attr('data-title');
        var price = $(this).attr('data-price');
        var img = $(this).attr('data-img');
        var qty = $('#qty-' + id).val();
        var totalprice = qty * price;
        var fixprice = parseFloat(price)
        if (qty) {
            $.ajax({
                "type": "POST",
                "dataType": "json",
                "url": "{% url 'addcart' %}",
                "data": {
                    id: id,
                    title: title,
                    price:fixprice,
                    img: img,
                    qty: qty,
                    totalprice: totalprice,
                },
                "beforeSend": function (xhr, settings) {
                    console.log("Before Send");
                    $.ajaxSettings.beforeSend(xhr, settings);
                },
                "success": function (result) {
                    console.log(result);
                    var count = Object.keys(result.data).length;
                    $('#sizeofcart').html(" " + count);
                    $('#qty-' + id).val("");
                    var msg = ' <div class="alert alert-success fade in"> <a style="pointer:cursor" class="close" data-dismiss="alert" data-id="'+id+'" aria-label="close">&times;</a> <strong>Success!</strong> Add to cart </div>';
                    $('#notif-' + id).html(msg)

                }
            });
        } else {
            alert('qty cannot empty !');
        }

    });


    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

     $(".close").click(function () {
          var id = $(this).attr('data-id');
        $('#notif-' + id).display.css(none)
     });

</script>
